html {
  font-size: 62.5%; /* 1rem = 10px */
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.75rem;
  line-height: 1.75;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

.center {
  background-image: url(../i/bg-grid.png);
  background-position: left top;
  max-width: 60ch; 
  margin: 0 auto; 
}