html {
  font-size: 62.5%; /* 1rem = 10px */
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

.center {
  background-image: url(../i/bg-grid.png);
  background-position: left top;
  max-width: 65ch; 
  margin: 0 auto;

}